html {
    scroll-behavior: smooth;
  }
  /* Дуртай фонтоо оруулаарай */
body{
    font-family: 'Montserrat', sans-serif; 
    margin: 0 60px;
}
header {
    height: 70px;
    display: flex;
    /* margin-top: -50px; */
    padding: 0 60px;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8   );
}
main{
    /* margin-top: 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    display: flex;
}
nav a {
    padding: 10px 10px;
}
a {
    text-decoration: none;
    color: #737373;
    padding-right: 21px;
}
#home {
    display: flex;
    align-items: center;
}
.texts {
display: flex;
flex-direction: column;
}

.name{
    color: #e6b2ec;
    font-size: 45px;
    font-weight: 600;
    display: flex;
}
.name p {
    color: #333;
    margin: 0;
    margin-left: 20px;
}

.path {
    color: #9817c0;
    margin-inline-end: 5px;
}
.path img{
    height: 19px;
}
hr{
    height:2px;
    border-width:0;
    color: #9624c4;
    background-color:#a416c4;
    margin-bottom: 30px;
}

.contact-buttons{
    padding: 5px 0;
    text-align: center;
    color: #a214b4;
    transition: 0.2s ease-in;
    border: 2px solid #ca1ae6;
    width: 150px;
}
.introduction {
    display: flex;
    align-items: center;
    width: 90vw;
    justify-content: space-around;
}
/* about хэсгийн css */
.hello1{
    font-weight: 500;
    font-size: 10px;
}
.hello-container{
    width: 400px;
}
.skills{
    display: flex;
    justify-content: space-around;
}
.skill-card{
    width: 200px;
    height: 200px;
    border: 1px solid #900a92;
}
.skill-header{
    padding: 10px 0;
    border-bottom: 1px solid #9b0cb8;
    text-align: center;
    font-weight: 600;
}
.skill-details {
    list-style-type: none;
    padding: 10px;
}
/* about/hobby хэсгийн css */
.hobby-img{
    height: auto;
    width: 200px;
}
.hobby-header{
    font-size: 20px;
    font-weight: 600;
}
.hobby-container{
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hobby-desc{
    width: 30vw;
}
/* works хэсгийн css */
.work-container{
    width: 90vw;
    display: flex;
    justify-content: space-around;
}
.work-card{
    border: 1px solid #950b97;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    padding-bottom: 20px;
}
.work-img{
    width: 300px;
    height: 180px;
    object-fit: contain
}
.languages{
    border-bottom: 1px solid #930da1;
}
.work-header{
    border-bottom: 1px solid #8d04a8;
    padding-bottom: 10px;
}
.visit{
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #980bbe;
    padding: 0;
    color: black;
}
/* contacts хэсгийн css */
.contact-container{
    width: 90vw;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.leftSide{
    display: flex;
    flex-direction: column;
}
.leftSide a{
    color: black;
    padding-top: 20px;
}
.copyright{
    width: 90vw;
    color: #737373;
    text-align: center;
}
#image1{
    border-radius: 80%;
}
#image2{
    border-radius: 50%;
}   
.pp{
    font-family: 'Dancing Script', cursive;
    margin-inline-start: 510px;
}
.hr{width: 100%;}
.socials{
    display: flex;
    align-items: center;
    margin-inline-start: 575px;}
.a2{
    border-radius: 20px;
}
@media screen and (min-width: 320px) and (max-width: 480px){
    header
    .texts{
        margin-inline-start: 1000px;
    } 
    .hobby-desc{
        width: 40vw;
        margin-inline-start: 120px;
    }
    #image1{
        display: none;
    }
    .hobbies{
        padding-inline-end: 0px;
    }
    #image2{
        /* height: 200px;
        width: 200px;
        margin-inline-end: 200px; */
        display: none;
    }
    .hr{width: 100%;}
    .about{
        margin-inline-start: 500px;
    }
    .a8{
        width: 50vw;
        margin-inline-end: 200px;
}
    .a4{margin-inline-start: 200px;}
    #about{
        margin-inline-start: 600px;
    }
    .a2{margin-inline-end: 50px;}
    .hobby-img{
        margin-inline-end: 0px;
        margin-inline-start: 300px;
    }
   
    .hello-container{margin-inline-end: 0px;}
    .skills{
        display: flex;
        align-items: center;
    }
    #home{
        margin-inline-start: 600px;
    }
    .pp{margin-inline-start: 20px;}
    .hur-underline-block{
        margin-inline-start: 30px;
    }
    .socials{
        display: flex;
        justify-content: center;
    }
    h2{margin-inline-start: 0px;}
    .hobby-container{
        margin-inline-end: 120px;
        margin-inline-start: 120px;
    }
    .work-card{
        margin-inline-start: 10px;
    }
    .work-container{
        width: 100vw;
        display: flex;
        justify-content: flex-start;
    }
    .introduction{
        width: 100%;
    }
}