.top{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{background-color: #f0f2f5;
    height: 200vh;

}
h1{
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 20px;}
h1{display: flex;
    justify-content: flex-start;
    align-items: center;

}
.top .b1{
    height: 24px;
    width: 24px;
}
.b9{ height: 24px;
    width: 24px;
    padding-inline-end: 10px;

}
.b1{
     padding: 10px;
     padding-bottom: 0px;
     margin-bottom: 0px;
   padding-left: 30px;
   padding-right: 30px;
  border-radius: 30px;
  transition: 0.3s ease-in;
}
.b2{
    height: 20px;
    width: 20px;
    padding: 9px;
    margin-inline-start: 4px;
    border-radius: 50%;
    background-color: rgb(202, 202, 202);
}

.b3{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
}
.b4{
    width: 44px;
    height: 44px;
    margin-inline-end: 5px;
}
.left{
    background-color: #f0f2f5;
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: 'Heebo', sans-serif;
    font-family: 'Inter', sans-serif;
}
h3{
    font-family: 'Heebo', sans-serif;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}
.left a{
    text-decoration: none;
}
.b1:hover{background-color: rgb(147, 148, 148);
transform: scale(1.2);
}
.b2:hover{
    background-color: rgb(147, 148, 148);
}
.center{
    background-color:#f0f2f5 ;
    flex: 2;
}
.right{
    background-color: #f0f2f5;
    flex: 1;
}
.container{
    display: flex;
    height: 95vh;
}
.left .icon{
    display: flex;
    align-items: center;
}
.icon{color: black;
    padding-bottom: 20px;
    }
    .a2{
        margin-inline-end: 25px
   }
   .left a{
       text-decoration: none;
   }
   .icon img{
       background-color: #f0f2f5;
       width: 30px;
       height: 30px;
       margin-inline-start: 10px;
       margin-inline-end: 15px;
       padding-bottom: 8px;
       border-radius: 50%;

   }
   .c1{
    display: flex;
    align-items: center;
    width: 350px;
    padding: 0px;
    margin: 0px;
     }
.c1 img {
    display: flex;
    border-radius: 20px;
    margin-inline-end: 35px;
}
   .bb a{
       text-decoration: none;
   }
   .bb{display: flex;
    flex-direction: column;
    font-family: 'Heebo', sans-serif;
    font-family: 'Inter', sans-serif;
    }
    h2{
    font-family: 'Heebo', sans-serif;
    font-family: 'Inter', sans-serif;
    }
    .bb .icon{
    display: flex;
    align-items: center;
}
.icon{color: black;
    padding-bottom: 20px;
    }
.d1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2{
    font-size: 15px;
    color: rgb(133, 131, 133);
}
.c1 img{
    padding: 10px;
    padding-left: 0px;
}
.c1:hover{
    background-color: rgb(175, 174, 175);
    border-radius: 20px;
}
.d1{margin: 0px;}
.left{
    padding-top: 15px;
}